.todo-filter {
  position: relative;
  display: flex;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 1px;
    height: 80px;
    background-color: #737373;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    margin: 0 5px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(37, 38, 38, 0.3);
    cursor: pointer;
  }

  &__category {
    margin-right: 0.5rem;
    border-radius: 10px;
    text-align: left;
    opacity: 0.7;
    transition: all 0.2s ease;

    &_active {
      opacity: 1;
      background-color: #79D7BE;
    }

    p {
      margin: 0 0.5rem;
    }
  }
}