.todo-input {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(37, 38, 38, 0.3);

  &__input {
    border: none;
    width: 40ch;
    border-bottom: 1px solid #000;
  }

  &__submit {
    width: 2rem;
    height: 2rem;
    color: #fff;
    background-color: #79D7BE;
    border-radius: 50%;

    &:hover {
      background-color: #4DA1A9;
    }
  }
}